.jss_worksheet > thead > tr > td
{
    border-top: 1px solid var(--jss_border_color, #ccc);
    border-left: 1px solid var(--jss_border_color, #ccc);
    background-color: var(--jss_header_background, #f3f3f3);
    color: var(--jss_header_color, #000);
}

.jss_worksheet > thead > tr > td.selected
{
    background-color: var(--jss_header_background_highlighted, #dcdcdc);
    color: var(--jss_header_color_highlighted, #000);
}

.jss_worksheet > tbody > tr > td:first-child
{
    background-color: var(--jss_header_background, #f3f3f3);
    color: var(--jss_header_color, #000);
}

.jss_worksheet > tbody > tr > td
{
    background-color: var(--jss_content_background, #fff);
    color: var(--jss_content_color, #000);
    border-top: 1px solid var(--jss_border_color, #ccc);
    border-left: 1px solid var(--jss_border_color, #ccc);
}

.jss_worksheet > tbody > tr.selected > td:first-child
{
    background-color: var(--jss_header_background_highlighted, #dcdcdc);
    color: var(--jss_header_color_highlighted, #000);
}

.jss_worksheet .highlight {
    background-color: var(--jss_selection, rgba(0,0,0,0.05));
}

.jss_worksheet .highlight-top {
    border-top:1px solid var(--jss_border_color_highlighted, #000);
}

.jss_worksheet .highlight-left {
    border-left:1px solid var(--jss_border_color_highlighted, #000);
}

.jss_worksheet .highlight-right {
    border-right:1px solid var(--jss_border_color_highlighted, #000);
}

.jss_worksheet .highlight-bottom {
    border-bottom:1px solid var(--jss_border_color_highlighted, #000);
}

.jss_worksheet .highlight-selected
{
    background-color: var(--jss_cursor, #eee);
}

.jss_pagination > div > div
{
    color: var(--jss_header_color, #000);
    background: var(--jss_header_background, #f3f3f3);
    border: 1px solid var(--jss_border_color, #ccc);
}

.jss_toolbar
{
    background-color: var(--jss_header_background, #f3f3f3);
    color: var(--jss_header_color, #000);
    border: 1px solid var(--jss_border_color, #ccc);
}

.jss_toolbar .jtoolbar-item i {
    color: var(--jss_content_color, #000);
}

.jss_toolbar .jtoolbar-item:not(.jtoolbar-divisor):hover,
.jss_toolbar .jtoolbar-item.jpicker:hover > .jpicker-header {
    background-color: var(--jss_content_background_highlighted, #f3f3f3);
    color: var(--jss_content_color_highlighted, #000);
}

.jss_toolbar .jtoolbar-divisor {
    background: var(--jss_header_color, #ddd);
}

.jss_contextmenu {
    border: 1px solid var(--jss_border_color, #ccc);
    background: var(--jss_menu_background, #fff);
    color: var(--jss_menu_color, #555);
    box-shadow: var(--jss_menu_box_shadow, 2px 2px 2px 0px rgba(143, 144, 145, 1));
    -webkit-box-shadow: var(--jss_menu_box_shadow, 2px 2px 2px 0px rgba(143, 144, 145, 1));
    -moz-box-shadow: var(--jss_menu_box_shadow, 2px 2px 2px 0px rgba(143, 144, 145, 1))
}

.jss_contextmenu>div a {
    color: var(--jss_menu_color, #555);
}

.jss_contextmenu>div:not(.contextmenu-line):hover a {
    color: var(--jss_menu_color_highlighted, #555);
}

.jss_contextmenu>div:not(.contextmenu-line):hover {
    background: var(--jss_menu_background_highlighted, #ebebeb);
}

.jss_container input {
    color: var(--jss_header_color, #000);
    background: var(--jss_header_background, #f3f3f3);
}

.jss_worksheet .editor .jupload, .jss_worksheet .editor .jss_richtext {

    font-size: var(--jss_editor-font-size, .875rem);

}

.jss_worksheet .editor .jclose:after {

    font-size: var(--jss_editor-icon-size, 24px);

}

.jss_page {

    font-size: var(--jss_font-size, 0.8em);

}

.jcontextmenu > div a {

    font-size: var(--jss_contextmenu-font-size, 16px)!important;

}

.jss_about {

    font-size: var(--jss_about-font-size, 24px);

}